.cc-footer{
   background-color: #0f0d0c !important;
    color: white;
    height: 12vh !important;
    padding-top: 1.5rem;
    /* background-color: #0f0d0c; */
   
    /* border: 2px solid red; */

}
